

/**/

div{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: blue;
    
    /*원하는 영역 부모>자식 */
    
}
li{
  
    color: rgb(3, 3, 3);
}


.container{
    background-color: yellow;
    width: 100vh;
    height: 100vh;
    position: relative;

} 
.block{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
    font-size: 20px;
    margin: 5px;
}

#a{
    position: static;
   left: 100px;
   top: 20px;
}

#b{
    position: relative;
}

#c{
    position: absolute;  
    top: 50px;
    left: 50px; 
}

#d{
    position: fixed;
    bottom: 0px;

}

#e{
    position: sticky;
    bottom: 0px;

}


/*
span{
    background-color: red;
    display: block;
    margin: 10px;
}
*/
